<h2><%=l :label_auditing %></h2>


<table width="100%">
	<tr>
		<th colspan="2"><%=l :tb_label_auditing_responsible %></th>
		<th><%=l :tb_label_auditing_project %></th>
		<th><%=l :tb_label_auditing_membership_type %></th>
		<th><%=l :tb_label_auditing_member %></th>
		<th colspan="2"><%=l :tb_label_auditing_role %></th>
		<th><%=l :tb_label_admin %></th>
		<th><%=l :tb_label_auditing_when %></th>
	</tr>
<% @logs.each do |l| %>
	<tr>
		<td><%=l.user.login %></td>
		<td><%=l.user.name %> <%=l.user.lastname %></td>

		<td><%=l.project.name %></td>
		<td>
			<% if !l.member.nil? %>
				<%=l.member.principal.type%>
			<% else %>
				<%=l(:role_member_nil)%>
			<% end %>
		</td>
		<td>
			<% if !l.member.nil? %>
				<%=l.member.principal.login %>
				<%=l.member.principal.lastname if l.member.principal.type == "Group" %>
			<% else %>
				<%=l.principal_name%>
			<% end %>
		</td>
		<td><%=role_list_assigned_roles(l.id) %></td>
		<td><%=role_list_assigned_roles_ids(l.id) %></td>
		<td><%=role_is_admin(l.admin) %></td>
		<td><%=l.created_on.strftime("%Y-%m-%d %H:%M:%S")%></td>
	</tr>
<% end if @logs != nil %>
</table>

